* {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    height: 100%;
    opacity: 0;
    transition: opacity 4s;
}


header {
    position: fixed;
    top: 0;
    padding-top: 1.25rem;
    z-index: 10;
    width: 100%;
    height: 6%;
    background-color: #F8C845;
    overflow: hidden;
    box-shadow: 3px 1px 15px #437810;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

#logo {
    position: absolute;
    z-index: 15;
    display: block;
    left: 2em;
    top: 1%;
    height: 7%;
    width: 7%;
    bottom: .75em;
    height: auto;
}

#logo2 {
    position: absolute;
    z-index: 15;
    display: block;
    right: 1em;
    top: 0%;
    bottom: 1.25em;
    width: 11.5em;
    max-width: 10%;
    height: auto;
}

.titles {
    align-content: center;
    width: 100%;
    height: 42rem;
}

#mega-logo {
    position: relative;
    width: 35%;
    height: auto;
    top: 1.25em;
    display: block;
    margin: 0% auto;
    max-width: 40%;
}

.navbar {
    position: relative;
    float: right;
    bottom: 1em;
    max-width: 100%;
    max-height: 50px;
}

.navbutton {
    display: inline-block;
    width: 10.5em;
    height: auto;
    padding-bottom: 1%;
    font-size: 1em;
    max-width: 15%;
    max-height: 7%;
}

#main-title {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 200%;
}

p {
    position: relative;
    top: 1em;
    margin: 0 25%;
    text-align: justify;
    font-size: 120%;
    line-height: 160%;
}

.content-box {
    position: relative;
    display: block;
    width: 40%;
    height: 55em;
    margin: 2em auto;
    overflow: visible;
}

.content-img {
    position: relative;
    border-radius: 25px;
    width: 80%;
    height: auto;
    max-width: 80%;
    top: 1em;
}

.content-text {
    position: relative;
    text-align: center;
    margin: 1em 2em;
}

#conviertete {
    bottom: 6em;
}

.footer {
    width: 100%;
    background-color: #F8C845;
    bottom: 0;
    box-shadow: -3px -1px 15px #437810;
    position: relative;
    height: 12rem;
    overflow: hidden;
}

#bottom-bar {
    position: relative;
    float: left;
    left: 1.5em;
    top: 1em;
    max-width: 100%;
}

.bottom-section {
    position: relative;
    display: inline-block;
    margin-right: 1.5em;
    border-right: 2px solid rgba(0, 0, 0, 0.37);
    padding-right: 1.5em;
}

#copyright {
    position: relative;
    float: right;
    top: 80%;
    margin-bottom: 1em;
    max-width: 8%;
    border: none;
}

#nuestros-productos {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.content-img:hover {
    box-shadow: 3px 3px 10px lightgrey;
    opacity: 0.9;
}





