* {
    box-sizing: content-box;
    font-family: Georgia, serif;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    opacity: 1;
    transition: opacity 2s;
}

/* .particle {
	position: absolute;
 	border-radius: 50%;
  z-index: 15;
} */

header {
    position: fixed;
    top: 0;
    height: 12em;
    width: 100%;
    margin: 0 auto;
    box-shadow: 3px 1px 10px lightgray;
    padding: .55em 0;
    color: white;
    background-image: url('resources/Pics/leaves.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 105;
}

.langs a {
  color: white;
}

.langs a:visited {
  color: white;
}

#logo {
    position: absolute;
    left: 20px;
    width: 7em;
    height: 7em;
    margin: 0 auto;
    border-radius: 55px;
}

.main-title {
  margin-top: 0.65em;
  color: white;
  font-size: 250%;
  margin-bottom: 0em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.main-title a{
  color: white;
  text-decoration: none;
}

h4 {
  margin-top: 0.35em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: sans-serif;
  font-size: 125%;
}

.head-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 130%;
  font-weight: bolder;
}

.dropdown-menu {
  position: absolute;
  top: 5em;
  right: 3em;
}

.dropdown-menu ul li {
  display: inline-block;
  width: 8em;
  height: auto;
  /* border: 1px solid white; */
}

.dropdown-menu ul li a {
  text-decoration: none;
  color: white;
}

.dropdown-menu ul li a:hover {
  text-decoration: underline;
}

/* ul li {
  display: block;
  margin: 1em;
  font-size: 160%;
  text-align: left;
}

ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  pointer-events: all;
}

ul li a:visited {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  text-decoration: underline;
  pointer-events: all;
} 

button:focus + .dropdown-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

button:focus {
  opacity: 0;
  pointer-events: none;
} */

.content-container {
  border: 1px solid black;
  border-radius: 20px;
  margin: 10% 30%;
  position: relative;
}

#about-me-container {
  margin-top: 18em;
}

.content-button {
    position: relative;
    display: block;
    margin: 3em 15%;
    height: 23em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px gray;
    z-index: 10;
    pointer-events: all;
}

.content-container a {
  color: black;
  text-decoration: none;
}

.content-container a:hover {
  text-decoration: underline;
}

#about-me {
    background-image: url(./resources/Pics/210.JPEG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog {
  background-image: url(./resources/Pics/136.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#community-board {
  background-image: url(./resources/Pics/95.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-me {
  background-image: url(./resources/Pics/54.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.content-text {
  position: relative;
  line-height: 1.5em;
  font-size: 120%;
  margin: 1em 10%;
  margin-bottom: 3em;
  opacity: 1;
}

.content-text p {
  font-family: 'Montagu Slab', serif;
} 

.content-text h2 {
  font-size: 200%;
}


.content-img {
    width: 8em;
    height: auto;
    /* max-width: 60%; */
}


footer {
    position: relative;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid white;
    box-shadow: 2px 2px 15px rgb(136, 136, 136);
    background-color: rgb(223, 223, 223);
    margin-top: 9em;
}

form {
    font-size: 130%;
}

input {
    width: 15em;
    height: 2em;
    border-radius: 10px;
    padding: 0.25em;
    margin: 0.75em 0;
    border: none;
    font-size: 80%;
    box-shadow: 2px 2px 15px lightgray;
}

input[type=text], input[type=email] {
    background-color: white;
    color: black;
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

input[type=submit] {
    background-color: #ff99c8;
    color: white;
}

#credit {
    margin-top: 1em;
    font-size: 70%;
}


#credit a:visited {
  text-decoration: underline;
  color: blue;
}

#click-here a {
  text-decoration: underline;
  color: black;
}

#click-here a:visited {
  text-decoration: underline;
  color: black;
}

/* Media queries */

@media only screen and (max-width: 1600px) {

    h4 {
        font-size: 120%;
    }
    .dropdown-menu {
      padding-left: 0;
    }

    .content-text {
      font-size: 130%;
      margin-left: 8%;
      margin-right: 8%;
    }

    #click-here {
      text-align: center;
      margin-top: 0;
    }

    .dropdown-menu ul li {
      font-size: 130%;
    }
}

@media only screen and (max-width: 940px) {
    .content-container {
        margin: 4.5em 20%;
        padding: 0;
        z-index: 1;
    }

    .content-text {
      position: relative;
      opacity: 1;
      margin-top: 0;
      font-size: 140%;
      margin-left: 25%;
      margin-right: 25%;
    }

    #click-here {
      text-align: center;
    }

    .dropdown-menu ul li {
      font-size: 150%;
      z-index: 100;
    }

    .dropdown-menu {
      padding: 0;
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      line-height: 1.75em;
      z-index: 11;
      box-shadow: 2px 2px 15px #888888;
    }

    #logo {
      z-index: 9;
    }
}

@media only screen and (max-width: 480px) {

    .content-container {
        margin: 4em 12%;
    }

    .content-button {
      width: 16em;
      height: 16em;
    }

    .content-text {
      position: relative;
      text-align: center;
      opacity: 1;
      margin-top: 0;
      font-size: 140%;
      margin-left: 15%;
      margin-right: 15%;
    }

    .main-title {
        font-size: 225%;
    }
    
    .dropdown {
      top: 1.5em;
      right: 1.5em;
      width: 3em;
      height: 3em;
  }

    form {
        padding: 0 1em;
    }

    .dropdown-menu {
      width: 90%;
      right: 1em;
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      line-height: 1.25em;
      border-radius: 15px;
    }

    .dropdown-menu ul li {
      text-align: center;
      font-size: 140%;
    }
}


@media only screen and (max-width: 320px) {
    
    #logo {
      width: 6em;
      height: 6em;
  }

    header {
      height: 21em;
    }


    .content-button {
        margin: 2em 10%;
        height: 13em;
        width: auto;
    }

    .main-title {
        font-size: 180%;
        margin-bottom: .25em;
    }
    .dropdown {
        top: 1.15em;
        right: 2.2em;
        width: 2em;
        height: 2em;
        font-size: .65em;
    }

    .content-text p {
      font-size: 0.85em;
    }

    #close {
      width: 1em;
      height: 1em;
  }

    h4{
        margin-top: 0;
    }

    h2 {
      font-size: 1em;
      text-align: center;
      margin-bottom: 0;
    }

    
    dropdown-menu {
      width: 85%;
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      /* background: linear-gradient(45deg, rgba(208,244,222,1) 0%, rgba(255,153,200,1) 47%, rgba(208,244,222,1) 70%); */
      line-height: 1.10em;
      border-radius: 15px;
      
    }

    .dropdown-menu ul li {
      text-align: center;
      margin: 0.75em auto;
      font-size: 110%;
      margin-right: 0.5em;
    }
}





