* {
    box-sizing: content-box;
    font-family: Georgia, serif;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: #f9f9f9;
    opacity: 1;
    transition: opacity 2s;
}

.particle {
	position: absolute;
 	border-radius: 50%;
  z-index: 15;
}

header {
    position: relative;
    top: 0;
    height: 23em;
    width: 100%;
    margin: 0 auto;
    box-shadow: 3px 1px 10px lightgray;
    padding: .55em 0;
    color: white;
    background-image: url('resources/Pics/leaves.JPG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    display: block;
    width: 9em;
    margin: 0 auto;
    height: auto;
    border-radius: 55px;
}

.main-title {
  margin-top: 0/5em;
  color: white;
  font-size: 250%;
  margin-bottom: 0em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h4 {
  margin-top: 0.35em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-family: sans-serif;
  font-size: 125%;
}

.head-overlay {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  font-size: 130%;
  font-weight: bolder;
}

.dropdown {
  position: absolute;
  top: 1.5em;
  right: 1.5em;
  background-image: url('resources/pumpkin.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  width: 3.5em;
  height: 3.5em;
  padding: 0.5em;
  border: 0px solid black;
  border-radius: 50%;
  z-index: 101;
  color: white;
  font-size: 80%;
  font-weight: bold;
}

.dropdown-menu {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  line-height: 1.5em;
  background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
  box-shadow: 2px 2px 15px rgb(194, 92, 24);
  border-radius: 15px 0px 15px 15px;
  padding: .5em;
  opacity: 0;
  transition: opacity 450ms ease-in-out, transform 450ms ease-in-out;
  transform: translateY(-450px);
  pointer-events: none;
}

#close {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  top: 1em;
  right: 1em;
  opacity: 0.8;
}

ul li {
  display: block;
  margin: 1em;
  font-size: 160%;
  text-align: left;
}

ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

ul li a:visited {
  text-decoration: none;
  color: black;
}

ul li a:hover {
  text-decoration: underline;
} 

ul li a:focus {
  pointer-events: all;
}

button:focus + .dropdown-menu {
  opacity: 1;
  transform: translateX(0);
  pointer-events: all;
}

button:focus {
  opacity: 0;
  pointer-events: none;
}


.content-button {
    position: relative;
    display: block;
    margin: 6em 37.5%;
    height: 17em;
    border-radius: 20px;
    box-shadow: 2px 2px 10px lightgray;
    z-index: 100;
    pointer-events: all;
    /* transition: opacity 450ms ease-in-out; */
}

#about-me {
    background-image: url(./resources/Pics/175.JPEG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blog {
  background-image: url(./resources/Pics/136.JPG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#community-board {
  background-image: url(./resources/Pics/166.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#contact-me {
  background-image: url(./resources/Pics/54.JPEG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  color: white;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  z-index: 101;
  font-size: 130%;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 200%;
  pointer-events: all;
}

/* .overlay:hover {
  background-color: rgba(0, 0, 0, 0.65);
  pointer-events: all;
} */

.content-text {
  position: relative;
  line-height: 1.5em;
  font-size: 120%;
  margin: -1em 30%;
  opacity: 1;
}


.content-img {
    width: 8em;
    height: auto;
    max-width: 60%;
}


footer {
    position: relative;
    bottom: 0;
    z-index: 10;
    width: 100%;
    padding: 1em 0;
    border-top: 1px solid white;
    box-shadow: 2px 2px 15px rgb(136, 136, 136);
    background-color: rgb(223, 223, 223);
    margin-top: 9em;
}

form {
    font-size: 130%;
}

input {
    width: 15em;
    height: 2em;
    border-radius: 10px;
    padding: 0.25em;
    margin: 0.75em 0;
    border: none;
    font-size: 80%;
    box-shadow: 2px 2px 15px lightgray;
}

input[type=text], input[type=email] {
    background-color: white;
    color: black;
    font-size: 90%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
  }

input[type=submit] {
    background-color: #ff99c8;
    color: white;
}

#credit {
    margin-top: 1em;
    font-size: 70%;
}


#credit a:visited {
  text-decoration: underline;
  color: blue;
}

#click-here a {
  text-decoration: underline;
  color: black;
}

#click-here a:visited {
  text-decoration: underline;
  color: black;
}

/* Media queries */

@media only screen and (max-width: 1600px) {
    .content-button {
        margin: 5.5em 35%;
        border-radius: 10px;
        box-shadow: 2px 2px 10px lightgray;
        padding: 0;
    }

    h4 {
        font-size: 120%;
    }
    .dropdown-menu {
      padding-left: 0;
    }

    .content-text {
      font-size: 140%;
      margin-left: 35%;
      margin-right: 35%;
    }

    #click-here {
      text-align: center;
      margin-top: 0;
    }

    .dropdown-menu ul li {
      font-size: 130%;
    }
}

@media only screen and (max-width: 940px) {
    .content-button {
        margin: 4.5em 25%;
        padding: 0;
        pointer-events: none;
        z-index: 9;
    }

    .content-text {
      position: relative;
      text-align: left;
      opacity: 1;
      margin-top: 0;
      font-size: 140%;
      margin-left: 25%;
      margin-right: 25%;
    }

    #click-here {
      text-align: center;
    }

    .dropdown-menu ul li {
      font-size: 150%;
    }

    .dropdown-menu {
      padding: 0;
      /* background: linear-gradient(45deg, rgba(208,244,222,1) 0%, rgba(255,153,200,1) 47%, rgba(208,244,222,0.75) 70%); */
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      line-height: 1.75em;
      z-index: 10;
      box-shadow: 2px 2px 15px #888888;
    }

    #logo {
      z-index: 9;
    }
}

@media only screen and (max-width: 480px) {

    .content-button {
        margin: 4em 13%;
    }

    .content-text {
      position: relative;
      text-align: left;
      opacity: 1;
      margin-top: 0;
      font-size: 140%;
      margin-left: 15%;
      margin-right: 15%;
    }

    .main-title {
        font-size: 225%;
    }
    
    .dropdown {
      top: 1.5em;
      right: 1.5em;
      width: 3em;
      height: 3em;
  }

    form {
        padding: 0 1em;
    }

    .dropdown-menu {
      width: 90%;
      right: 1em;
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      /* background: linear-gradient(45deg, rgba(208,244,222,1) 0%, rgba(255,153,200,1) 47%, rgba(208,244,222,1) 70%); */
      line-height: 1.25em;
      border-radius: 15px;
    }

    .dropdown-menu ul li {
      text-align: center;
      font-size: 140%;
    }
}


@media only screen and (max-width: 320px) {
    
    #logo {
      width: 7em;
  }

    header {
      height: 21em;
    }

    .content-button {
        margin: 2.5em 10%;
        height: 13em;
    }
    .main-title {
        font-size: 180%;
        margin-bottom: .25em;
    }
    .dropdown {
        top: 1.15em;
        right: 1.15em;
        width: 2em;
        height: 2em;
    }

    #close {
      width: 1em;
      height: 1em;
  }

    h4{
        margin-top: 0;
    }
    
    .dropdown-menu {
      width: 85%;
      background: linear-gradient(45deg, rgb(100, 67, 50) 0%, rgb(231, 161, 70) 47%, rgba(190, 82, 19, 0.685) 70%);
      box-shadow: 2px 2px 15px rgb(194, 92, 24);
      /* background: linear-gradient(45deg, rgba(208,244,222,1) 0%, rgba(255,153,200,1) 47%, rgba(208,244,222,1) 70%); */
      line-height: 1.10em;
      border-radius: 15px;
    }

    .dropdown-menu ul li {
      text-align: center;
      margin: 0.75em auto;
      font-size: 110%;
    }
}