* {
    box-sizing: content-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    height: 100%;
    opacity: 0;
    transition: opacity 2s;
}


header {
    position: relative;
    top: 0;
    z-index: 10;
    width: 100%;
    background-color: #F8C845;
    overflow: hidden;
    box-shadow: 3px 1px 15px #437810;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
}

#logo {
    position: relative;
    z-index: 15;
    display: block;
    left: 1em;
    width: 8.5em;
    height: auto;
}

#logo2 {
    position: relative;
    float: right;
    z-index: 15;
    display: block;
    width: 11.5em;
    max-width: 10%;
    height: auto;
}

.titles {
    text-align: center;
    align-content: center;
    width: 100%;
    height: 42rem;
}

#mega-logo {
    position: relative;
    width: 35%;
    height: auto;
    top: 1.25em;
    display: block;
    margin: 0% auto;
    max-width: 40%;
}

.navbar {
    position: relative;
    float: right;
    padding-top: 1em;
    max-width: 100%;
}

.navbutton {
    display: inline-block;
    width: 10.5em;
    font-size: 1.25em;
    max-width: 175px;
}

#main-title {
    position: relative;
    text-align: center;
    width: 100%;
    font-size: 200%;
}

p {
    position: relative;
    top: 1em;
    margin: 0 25%;
    text-align: center;
    font-size: 120%;
    line-height: 160%;
}

.content-box {
    position: relative;
    display: block;
    width: 40%;
    height: 55em;
    margin: 2em auto;
    overflow: visible;
}

.content-img {
    position: relative;
    border-radius: 25px;
    width: 80%;
    height: auto;
    max-width: 80%;
    top: 1em;
}

.content-text {
    position: relative;
    text-align: center;
    margin: 1em 2em;
}

#conviertete {
    bottom: 6em;
}

.footer {
    position: fixed;
    bottom: 0;
    z-index: 10;
    width: 100%;
    background-color: #F8C845;
    box-shadow: -3px -1px 15px #437810;
    overflow: hidden;
}

#bottom-bar {
    position: relative;
    float: left;
    left: 1.5em;
    top: 1em;
    max-width: 90%;
}

.bottom-section {
    position: relative;
    display: inline-block;
    margin-right: 1.5em;
    border-right: 2px solid rgba(0, 0, 0, 0.37);
    padding-right: 1.5em;
    padding-bottom: 1.5em;
}

#copyright {
    position: absolute;
    right: 1em;
    bottom: 10%;
    margin-bottom: 1em;
    max-width: 8%;
    border: none;
}

#nuestros-productos {
    margin-bottom: 2em;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}

.content-img:hover {
    box-shadow: 3px 3px 10px lightgrey;
    opacity: 0.9;
}

@media only screen and (max-width: 940px) {
    #logo {
        display: none;
    }
    .navbutton {
        max-width: 160px;
        display: inline-block;
        margin-top: 1em;
        font-weight: bold;
    }
    .content-box {
        margin: -1em auto;
        width: 80%;
    }
    .navbar {
        float: none;
        width: 100%;
        padding: 0;
    }
    .titles {
        width: 100%;
        margin: 0 auto;
        height: 35rem;
    }
    .titles p {
        width: 80%;
        margin: 0 auto;
        padding-bottom: 30%;
    }
    .bottom-section {
        margin-right: .75em;
        border-right: 1px solid rgba(0, 0, 0, 0.37);
        padding-right: .75em;
        padding-bottom: 1em;
        font-size: 85%;
    }
    #logo2{
        display: none;
    }

    footer {
        position: relative;
        margin-top: 10em;
    }
}

@media only screen and (max-width: 480px) {
    
    #main-title {
        font-size: 1.5em;
        padding-top: 1em;
    }

    .navbar {
        float: none;
    }

    #mega-logo {
        max-width: 20em;
        width: 20em;
        height: auto;
    }

    .navbutton {
        max-width: 30%;
        display: inline-block;
        margin: 1em 0 1.15em 0;
        font-weight: bold;
        font-size: 1.15em;
    }

    .content-box {
        margin: 3em auto;
        width: 100%;
        font-size: 1.2em;
        height: 45em;
    }

    .content-box p {
        text-align: left;
    }

    .bottom-section {
        display: block;
        width: 100%;
        margin: 0 auto;
        border-right: none;
        border-bottom: 1px solid black;
        font-size: 1.35em;
    }

    #copyright {
        display: block;
        position: relative;
        text-align: right;
        max-width: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    #bottom-bar {
        float: none;
    }

    footer {
        position: relative;
    }
}



